@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  line-height: 1;
  font-size: 16px;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

li {
  list-style: none;
  padding: 10px 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.azul {
  color: #6415ff;
  font-weight: 700;
}

.show__cursor:hover {
  cursor: pointer;
}

.no__cursor {
  cursor: not-allowed;
}

/* NAV */

nav {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site__name {
  font-size: 28px;
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #242424;
  font-size: 700;
}

.nav__btn {
  margin-left: auto;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #6415ff;
  border: 1px;
}

.nav__btn:hover,
.show__cursor:hover,
.search__btn:hover {
  background-color: #321999;
}

/* HEADER */

.header__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 36px;
  padding-bottom: 36px;
}

.header__title {
  max-width: 1200px;
  font-weight: 700;
  margin: 0 auto;
}

.header__sub-title {
  padding: 28px 0px 30px;
  font-size: 20px;
  font-weight: 700;
}

.search__bar--wrapper {
  position: relative;
}

.search__bar {
  width: 100%;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 16px;
}

.search__btn {
  border-radius: 25px;
  padding: 6px 12px;
  border: none;
  position: absolute;
  right: 8px;
  top: 14px;
  background-color: #6415ff;
}

.fa-magnifying-glass {
  color: #fff;
}

/* MOVIE POSTER */

.movie__poster img {
  border-radius: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie__wrapper {
  width: calc(33% - 40px);
  margin-bottom: 40px;
}

.movie__poster {
  width: 100%;
}

.movie__info {
  width: 100%;
}

/* For screens up to 1200px */
@media only screen and (max-width: 1200px) {
  .header__wrapper {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .nav__link::before {
    width: 80%;
  }
}

/* For screens up to 992px */
@media only screen and (max-width: 992px) {
  .header__wrapper {
    font-size: 28px;
    padding-bottom: 28px;
  }

  .nav__link::before {
    width: 70%;
  }

  .movie__wrapper {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }

  .movie__wrapper:nth-child(2n + 1) {
    margin-right: 20px;
  }
}

/* For screens up to 768px */
@media only screen and (max-width: 768px) {
  .header__wrapper {
    font-size: 26px;
    padding-bottom: 26px;
  }

  .nav__link::before {
    width: 60%;
  }

  .movie__poster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .movie__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .movie__wrapper {
    width: calc(100% - 20px);
  }
}

/* For screens up to 576px */
@media only screen and (max-width: 576px) {
  .header__wrapper {
    font-size: 24px;
    padding-bottom: 24px;
  }

  .nav__link::before {
    width: 50%;
  }

  .movie__wrapper {
    width: calc(100% - 20px);
  }
}
